<div class="container">
    <div class="row">
        <div class="col-md 5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white">
                <h4>Actualizar Profesor</h4>
                <form action="/profesores/{{profesores._id}}/update" method="POST">
                    <div>
                        <label for="rfc">Modificar RFC: </label>
                        <input type="text" name="rfc" placeholder="Nombre" value="{{profesores.rfc}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="nombres">Modificar Nombre: </label>
                        <input type="text" name="nombres" placeholder="Nombre" value="{{profesores.nombres}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="paterno">Modificar Apellido Paterno: </label>
                        <input type="text" name="paterno" placeholder="Apellido Paterno" value="{{profesores.paterno}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="materno">Modificar Apellido Materno: </label>
                        <input type="text" name="materno" placeholder="Apellido Materno" value="{{profesores.materno}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="fechaNacimiento">Modificar Fecha de Nacimiento: </label>
                        <input type="date" name="fechaNacimiento" placeholder="Fecha Nacimiento" value="{{profesores.fechaNacimiento}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                         <label for="direccion">Modificar Direccion:</label>
                         <input type="text" name="direccion" placeholder="Direccion" value="{{profesores.direccion}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="celular">Modificar Número Celular: </label>
                        <input type="text" name="celular" placeholder="Celular" value="{{profesores.celular}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="profesion">Modificar Profesión: </label>
                        <input type="text" name="profesion" placeholder="Profesion" value="{{profesores.profesion}}" class="form-control bg-white text-black" />
                    </div>
                    <div>
                        <label for="numeroEmpleado">Modificar Número de empleado: </label>
                        <input type="text" name="numeroEmpleado" placeholder="Numero Empleado" value="{{profesores.numeroEmpleado}}" class="form-control bg-white text-black" />
                    </div>
                    <button class="btn btn-info">Actualizar</button>

                </form>
            </div>
        </div>
    </div>
</div>